<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cocktailmixxer"
    android:configChanges="orientation"
    android:screenOrientation="portrait"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" >
    </uses-feature>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="projekt.helpclasses.CM_Status"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="projekt.Activitys.MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="projekt.Matze.ActivityCocktailList"
            android:configChanges="orientation"
            android:label="@string/title_activity_cocktails"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="projekt.Jakob.ActivitySettings"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="projekt.Jakob.ActivityBluetooth"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="projekt.Jakob.ActivityAdmin"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="projekt.Matze.ActivityNewCocktail"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="projekt.Jakob.ActivityUser"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="projekt.Jakob.AddUserActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_add_user"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="projekt.Matze.ActivityCocktail"
            android:configChanges="orientation"
            android:label="@string/title_activity_activity_cocktail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="projekt.Matze.ActivityAddSaft"
            android:label="@string/title_activity_activity_saft_list"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="projekt.Matze.NewSaft"
            android:label="@string/title_activity_new_saft" >
        </activity>
        <activity
            android:name="projekt.Matze.ActivitySetMlSaft"
            android:label="@string/title_activity_add_saft" >
        </activity>
        <activity
            android:name="projekt.Jakob.SelectSaftActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_select_saft"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="org.achartengine.GraphicalActivity"></activity>
    </application>

</manifest>